/*Referred w3 schools for the reference
  https://www.w3schools.com/html/html_css.asp */

  
body{
	background-color:#deeaee
}
.header {
	display:block;
	width:85%;
	
}
.header .navbar-nav{
	display: inline-block;
	float: left;

}

.header .navbar-text {
	display: inline-block;
	float: left;
}

.navbar {
	background-image:url("1.jpg");
	
}







.checked {
    color: orange;
}

.main{
	margin-top: 8%;
	
}

.question_main {
	margin-top: -2%;
	display: inline-block;
	width: 70%;
	float: left;
	
	padding-bottom: 5em;
	 
    
}

.Details {
	margin-top: -2%;
	margin-left: -2%;
	
	display: inline-block;
	width: 30%;
	float: right;
	text-align: center;
	position:fixed;
	border: 2px solid #f1f1f1;
	
    
}
.Details h4 {
	
	margin-top: 2%;
}
.Details p {
	margin-top:-4%;
	padding: 1em;
}
.Details .sub-heading3 {
	margin-bottom:4%;
}
.sub_heading h3 {
	width: 60%;
	display: inline-block;
	text-align: center;
	margin-right: 10%;
	margin-left: 5%;
	margin-top: -1%;
	/*position: fixed;*/
	
	
}


.main .question_main .question h6{
	margin-top: 2%;
	display:block;
	width:100%;
	margin-left: 2%;
	color: #343A40;
	
}
.main .question_main .question a{
	
	display:block;
	width:100%;
	margin-left: 2%;
	color: #343A40;
	
}
.main .question_main .answer h6{
	display:block;
	width:100%;
	margin-left: 2%;
	color: #343A40;
	
}
.main .question_main .answer a{
	
	display:block;
	width:100%;
	margin-left: 2%;
	color: #343A40;
	
}
.main .question_main .question-box {
	
	border: 2px solid #f1f1f1;
	margin-left:2%;
	margin-right:5%;
	margin-top:3%;
	
	
}


@media screen and (min-width: 1361px){
.question_main {
	max-width: 70%;	
}
.Details {
	max-width: 30%;	
}
}
@media screen and (max-width: 1361px) and (min-width: 900px){
.main{
	margin-top: 4%;
}
.question_main {
	max-width: 70%;	
	margin-top: 5%;
}
.Details {
	max-width: 30%;	
	margin-top: 5%;
}}
@media screen and (max-width: 900px) and (min-width: 700px)
{
.main{
	margin-top: 2%;
}
.main .question_main .question-box {
	margin-top:6%;
}
.question_main {
	max-width: 70%;	
	margin-top: 10%;
}
.Details {
	max-width: 30%;	
	margin-top: 10%;
}}

@media screen and (max-width: 700px)
{
	.main{
		
       float: none;

		width:100%;
	}
	.main .question_main .question-box {
	margin-top:6%;
}
	.Details {
	width: 100%;	
	margin-top: 10%;
}
.question_main {
	width: 100%;	
	margin-top: 10%;
}
}
@media screen and (max-width: 600px)
{
	.question_main {
	width: 100%;	
	margin-top: 10%;
}
}